html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

html {
  -webkit-font-smoothing: antialiased;
  background: #FFFFFF;
  margin: 0;
  padding: 0;
}

body {
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-family: 'Bitter',sans-serif;
  font-weight: 400;
}

#text-box, #card-list {
  margin: 0px auto;
  text-align: center;
  padding: 75px 15px;
  background-color: #FFF;
  border-radius: 5px;
}

#card-list {
  text-align: left;
  padding: 100px;
}

#card-list ul li {
 padding: 2px;
}

#text-content {
  text-align: center;
  margin-top: 100px;
  font-family: 'Bitter',sans-serif;
  font-weight: 400;
  font-size: 24pt;
  color: #000000;
}

#randomizer {
  font-size: 8pt;
  text-decoration: none;
  display: block;
  margin-top: 25px;
  text-align: center;
  padding-top: 5px;
}

h1, h2, h3, h4 {
  padding: 0px 25px;
  font-weight: 400;
}

h1 {
  font-size: 18pt;
  font-weight: 700;
  margin-bottom: 10px;
}

h2 {
  font-size: 16pt;
}

h3 {
  font-size: 14pt;
  margin-top: 0px;
}

h4 {
  font-size: 12pt;
  margin-top: 10px;
  margin-bottom: 10px;
}

.italic {
  font-style: italic;
}
